* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.main-visual {
    height: 400px;
    width: 100%;
    background-image: url(img/mv.jpg);
    background-size: cover;
    background-position: bottom;
}

h1.headline {padding: 20px;}

main {
    width: 840px;
    margin: 50px auto;
}

section.service1 {
    margin-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 30px;
}

section.service2 {
    margin-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 30px;
}

section.service3 {
    margin-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 30px;
}

section.service4 {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 30px;
}